.js [data-entrance] {
    visibility: hidden;
}

body {
    padding: 0;
    margin: 0;
    background: #fff;
    position: relative;
    font-family: 'Raleway', sans-serif;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

._mhc.navbar-brand>img {
    width: 100% !important;
}


/*-- header --*/


/*-- Index-Page-Styling --*/

header._mhc {
    position: fixed !important;
    top: 0px !important;
    z-index: 9 !important;
    width: 100% !important;
    padding: 1em 0 !important;
    background: rgba(0, 0, 0, 0.5) !important;
    -webkit-transition: all 0.6s ease-out !important;
    -moz-transition: all 0.6s ease-out !important;
    -o-transition: all 0.6s ease-out !important;
    -ms-transition: all 0.6s ease-out !important;
    transition: all 0.6s ease-out !important;
}

._mhc.navbar-container,
._mhc.navbar-expand-lg>.navbar-container {
    width: 100% !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

._mhc.fixedheader {
    background: rgba(0, 0, 0, 0.7) !important;
    z-index: 1000 !important;
}

._mhc.bg-dark {
    background-color: transparent !important;
}

._mhc.navbar-dark ._mhc.navbar-nav .show>.nav-link,
._mhc.navbar-dark ._mhc.navbar-nav .active>.nav-link,
._mhc.navbar-dark ._mhc.navbar-nav .nav-link.show,
._mhc.navbar-dark ._mhc.navbar-nav .nav-link.active {
    color: #70bc55 !important;
    border-bottom: 1px solid #70bc55 !important;
}

._mhc.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
    font-size: 16px !important;
    letter-spacing: 2px !important;
    border-bottom: 1px solid #fff !important;
}

li.nav-item {
    padding: 0 15px !important;
}

.dropdown-menu {
    padding: 1rem !important;
    -webkit-transition: all 0.6s ease-out !important;
    -moz-transition: all 0.6s ease-out !important;
    -o-transition: all 0.6s ease-out !important;
    -ms-transition: all 0.6s ease-out !important;
    transition: all 0.6s ease-out !important;
}

ul.dropdown-menu li {
    padding: 10px 0 !important;
}

ul.dropdown-menu li a {
    font-size: 16px !important;
    color: #ddd !important;
    letter-spacing: 1px !important;
    border-bottom: 1px solid !important;
    padding-bottom: .2rem !important;
}

ul.dropdown-menu li a:hover {
    color: #368919 !important;
    border-bottom: 1px solid !important;
}

._mhc.navbar-dark .navbar-brand {
    margin: 0 0 0 15px !important;
    padding: 0px 0px 0px 10px !important;
}

._mhc.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: .2rem !important;
}

._mhc.navbar-dark .navbar-brand:hover,
._mhc.navbar-dark .navbar-brand:focus {
    color: #fff !important;
    text-shadow: 2px 2px #ffffff !important;
}

._mhc.navbar-dark .navbar-nav .nav-link:hover,
._mhc.navbar-dark .navbar-nav .nav-link:focus {
    color: #70bc55 !important;
    border-bottom: 1px solid #70bc55 !important;
}

._mhc.header-top {
    background: rgba(0, 0, 0, 0.5) !important;
    padding: 15px !important;
}

._mhc.navbar {
    padding: 0 !important;
}

.logo {
    width: 190px !important;
}

.header-top p {
    margin: 0 !important;
    color: #eee !important;
    letter-spacing: 2px !important;
    font-size: 15px !important;
}

.header-top p i {
    color: #368919 !important;
    margin-right: 10px !important;
}

.top-right {
    text-align: right !important;
}

.dropdown-menu {
    background: rgba(0, 0, 0, 0.5) !important;
    margin-top: 33px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    padding-top: 0 !important;
}


/* .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)'");
} */


/*--- slideshow ---*/

.slide-btn {
    display: inline-block;
    padding: 13px 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    background: transparent;
    border: 1px solid #e1e1e1;
    font: 12px/1.2 "Oswald", sans-serif;
    letter-spacing: 0.4em;
    text-align: center;
    text-indent: 2px;
    text-transform: uppercase;
    transition: color 0.1s linear 0.05s;
}

.slide-btn::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
    z-index: 1;
    opacity: 0;
    transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s;
}

.slide-btn::after {
    transition: border 0.1s linear 0.05s;
}

.slide-btn .slide-btn-inner {
    position: relative;
    z-index: 2;
}

.slide-btn:hover {
    color: #373737;
    transition: color 0.1s linear 0s;
}

.slide-btn:hover::before {
    top: 0;
    height: 100%;
    opacity: 1;
    transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s;
}

.slide-btn:hover::after {
    border-color: #373737;
    transition: border 0.1s linear 0s;
}

.slideshow {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.slideshow .slideshow-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slideshow .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slideshow .slide {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slideshow .slide.is-active {
    display: block;
}

.slideshow .slide.is-loaded {
    opacity: 1;
}

.slideshow .slide .caption {
    padding: 0 100px;
}

.slideshow .slide .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    z-index: 1;
    background-size: cover;
    image-rendering: optimizeQuality;
}

.slideshow .slide .image-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.slideshow .slide .image {
    width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.slideshow .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow .slide .title {
    margin: 0 auto 15px;
    max-width: 1000px;
    font: 300 50px/1.2 "Oswald", sans-serif;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

.slideshow .slide .text {
    margin: 0 auto;
    max-width: 1000px;
    font-size: 18px;
    line-height: 1.4;
}

.slideshow .slide .text p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.slideshow .slide .btn {
    margin: 15px 0 0;
    border-color: #fff;
}

.slideshow .slide .btn::before {
    background: #fff;
}

.slideshow .pagi {
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    height: 12px;
    cursor: default;
    z-index: 2;
    text-align: center;
}

.slideshow .pagi .pagi-item {
    display: inline-block;
    padding: 15px 5px;
    position: relative;
    width: 46px;
    height: 32px;
    cursor: pointer;
    text-indent: -999em;
    z-index: 1;
}

.slideshow .pagi .pagi-item+.page {
    margin-left: -2px;
}

.slideshow .pagi .pagi-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 5px;
    width: 36px;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    transition: background 0.2s ease;
}

.slideshow .pagi .pagi-item::after {
    width: 0;
    background: #fff;
    z-index: 2;
    transition: width 0.2s ease;
}

.slideshow .pagi .pagi-item:hover::before,
.slideshow .pagi .pagi-item.is-active::before {
    background-color: #fff;
}

.slideshow .arrows .arrow {
    margin: -33px 0 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
}

.slideshow .arrows .prev {
    left: 30px;
}

.slideshow .arrows .prev:hover .svg {
    left: -10px;
}

.slideshow .arrows .next {
    right: 30px;
}

.slideshow .arrows .next:hover .svg {
    left: 10px;
}

.slideshow .arrows .svg {
    position: relative;
    left: 0;
    width: 14px;
    height: 26px;
    fill: #fff;
    transition: left 0.2s ease;
}

@media(max-width:480px) {
    .slideshow .slide .title {
        font-size: 40px;
    }
}


/*--------------social icons---------*/

.social {
    position: fixed;
    top: 15%;
    right: 30px;
    z-index: 3;
}

.social ul {
    padding: 0px;
    -webkit-transform: translate(270px, 0);
    -moz-transform: translate(270px, 0);
    -ms-transform: translate(270px, 0);
    -o-transform: translate(270px, 0);
    transform: translate(270px, 0);
}

.social ul li {
    display: block;
    margin: 0px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: left;
    padding: 10px;
    -webkit-border-radius: 30px 0 0 30px;
    -moz-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li:hover {
    -webkit-transform: translate(-110px, 0);
    -moz-transform: translate(-110px, 0);
    -ms-transform: translate(-110px, 0);
    -o-transform: translate(-110px, 0);
    transform: translate(-110px, 0);
    background: rgba(255, 255, 255, 0.4);
}

.social ul li.social-twitter:hover {
    -webkit-transform: translate(-200px, 0);
    -moz-transform: translate(-200px, 0);
    -ms-transform: translate(-200px, 0);
    -o-transform: translate(-200px, 0);
    transform: translate(-200px, 0);
}

.social ul li.social-facebook:hover {
    -webkit-transform: translate(-220px, 0);
    -moz-transform: translate(-220px, 0);
    -ms-transform: translate(-220px, 0);
    -o-transform: translate(-220px, 0);
    transform: translate(-220px, 0);
}

.social ul li.social-insta:hover {
    -webkit-transform: translate(-160px, 0);
    -moz-transform: translate(-160px, 0);
    -ms-transform: translate(-160px, 0);
    -o-transform: translate(-160px, 0);
    transform: translate(-160px, 0);
}

.social ul li:hover a {
    color: #000;
}

.social ul li:hover i {
    background: white;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li:hover i.fa-twitter {
    color: #1c9deb;
}

.social ul li:hover i.fa-facebook {
    color: #3b5999;
}

.social ul li:hover i.fa-flickr {
    color: #f80080;
}

.social ul li:hover i.fa-instagram {
    color: #ff0000;
}

.social ul li i {
    margin-right: 10px;
    color: #000;
    background: #fff;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.main-title {
    padding: 50px;
}

.parallax {
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 150px;
    color: #fff;
}

.count {
    color: #000;
    font-size: -webkit-xxx-large;
    font-weight: bolder;
}

.count-desc {
    color: #000;
    font-size: large;
}

@media(min-width:576px) {
    .counter-border-right {
        border-right: 2px solid #444;
    }
}

.hike-counter {
    padding-bottom: 100px;
}

.title {
    margin: 0 auto 15px;
    max-width: 1000px;
    font: 300 50px/1.2 "Oswald", sans-serif;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}


/*---footer---*/

footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #111;
}

.related-links {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #999;
}

.related-content,
.related-content:hover {
    color: #999;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

p.related-content,
p.related-content:hover {
    text-align: right;
}

.divider {
    width: 80%;
    text-align: center;
    border-top: 1px solid #999;
}

.twitter-container {
    height: 200px;
}

.footer-text {
    color: #777;
}


/*---About page---*/

.header-image {
    background-image: url('../images/header-about.jpg');
    background-size: cover;
    width: 100vw;
}

@media(min-width:764px) {
    .header-image {
        background-image: url('../images/header-about-lg.jpg');
    }
}

.about-title {
    padding-top: 20px;
}


/*--commitee page---*/

.commitee-content {
    padding-top: 160px;
    padding-bottom: 100px;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/commitee.jpg');
    color: #bbb;
}

.comment-content.container {
    display: flex;
}

.comment-content.container section {
    min-width: 100%;
    display: flex;
}

.row.top-padding {
    width: 100vw;
}

.social-env {
    width: 34px;
    height: 34px;
    color: #fff;
    background: #ff00d4;
    padding: 7px 8px;
    border-radius: 50%;
}

.social-fb {
    width: 34px;
    height: 34px;
    color: #fff;
    background: #4267b2;
    padding: 8px 8px 5px 8px;
    border-radius: 50%;
}

.social-fb {
    width: 34px;
    height: 34px;
    color: #fff;
    background: #4267b2;
    padding: 8px 8px 5px 8px;
    border-radius: 50%;
}

.circular {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
}

.circular img {
    width: 100%;
    height: auto;
}

.top-padding {
    padding-top: 70px;
}

.team-social {
    margin-right: 5px;
    margin-left: 5px;
    font-size: larger;
}

.scroll-commitee {
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.list-unstyled {
    margin-bottom: 10px;
}

@media(max-width:940px) {
    .circular {
        width: 200px;
        height: 200px;
    }
}

@media (max-width:768px) {
    .scroll-commitee {
        flex-wrap: wrap;
        overflow: unset;
    }
    .circular {
        width: 300px;
        height: 300px;
    }
}


/*--past commitee--*/

.commitee-list {
    list-style: none;
}


/*---blog page---*/

.blog-contain {
    padding-top: 160px;
    padding-bottom: 100px;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../images/blog.jpg');
    height: auto;
}


/*---timeline---*/

.timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background: #ffffff;
    left: 50%;
    margin-left: -1.5px;
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
    width: 50%;
    float: left;
    clear: left;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    position: relative;
    padding-top: 20px;
    border-radius: 10px;
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline>li>.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline>li>.timeline-badge {
    color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge>a {
    color: #ffffff !important;
}

.timeline-badge a:hover {
    color: #dcdcdc !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-heading h3 {
    font-weight: 400;
    padding: 0 15px;
    color: #4679bd;
}

.timeline-body>ul,
.timeline-body>.readmore>a,
.timeline-body,
.timeline-body>.timeline-content {
    padding: 10px 15px;
    margin-bottom: 5px;
}

.timeline-body>p,
.timeline-body>.timeline-content>p {
    padding: 10px 0px;
    margin-bottom: 0;
}

.readmore-btn {
    border: 1px solid #222;
    color: #222;
    background: #fff;
}

.readmore-btn:hover {
    border: 1px solid #222;
    color: #fff;
    background: #222;
}

.timeline-footer {
    padding: 5px 15px;
    background-color: #f4f4f4;
    border-radius: 0px 0px 10px 10px;
}

.timeline-footer p {
    margin-bottom: 0;
}

.timeline-footer>a {
    cursor: pointer;
    text-decoration: none;
}

.timeline>li.timeline-inverted {
    float: right;
    clear: right;
}

.timeline>li:nth-child(2) {
    margin-top: 60px;
}

.timeline>li.timeline-inverted>.timeline-badge {
    left: -12px;
}

.no-float {
    float: none !important;
}

.blog-header-container {
    overflow: hidden;
}

.blog-header {
    width: 100%;
    transition: transform 0.5s;
}

.blog-header:hover {
    transform: scale(1.5);
}

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline>li {
        margin-bottom: 0px;
        position: relative;
        width: 100%;
        float: left;
        clear: left;
    }
    ul.timeline>li>.timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline>li>.timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline>li>.timeline-panel {
        float: right;
    }
    ul.timeline>li>.timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline>li>.timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline>li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline>li.timeline-inverted>.timeline-badge {
        left: 28px;
    }
}


/*---contact us page---*/

.header-contact {
    width: 100%;
}

.header-contact-img {
    background-size: cover;
    width: 100vw;
}

.contact-content {
    margin-top: 20px;
}

.social-icons {
    margin: 5px;
    text-decoration: none;
    font-size: larger;
    color: #000;
}

.social-icons:hover {
    color: #333;
}

.margin-bottom {
    margin-bottom: 30px !important;
}

.margin-bottom-low {
    margin-bottom: 10px !important;
}

.contact-title {
    font-size: +1;
    font-weight: bolder;
    color: #28a745;
}

.message-area {
    color: #333;
}


/*---news page---*/

.news-contain {
    padding-top: 160px;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../images/news.jpg');
}

.news-title {
    color: #fff;
    text-shadow: 2px 2px 4px #222;
}

.news-text-bg {
    padding: 100px 20px 100px 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
}


/*--- posts page---*/

.post-contain {
    padding-top: 150px;
}

.btn-default {
    border: 1px solid #999;
}

.table-comments {
    width: 100%;
}

.comment {
    display: inline;
}

.comment-author-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0px;
}

.comment-content {
    display: inline-block;
    position: relative;
    left: 65px;
}


/*---Auth pages---*/

.card-top {
    padding-top: 20px;
}

#gender,
#skills,
#kinship {
    margin-right: 3px;
}

.description {
    font-size: small;
}

.validate-correct:focus {
    border-color: #0f0;
    box-shadow: 0 0 0 0.2rem rgba(20, 183, 78, 0.25);
}

.validate-incorrect,
.validate-incorrect:focus {
    border-color: #f00;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 35, 0.25);
}


/*---- gallery page ----*/

.gallery {
    background-size: cover;
    background-attachment: fixed;
    background: url('../images/gallery.jpg');
    padding-bottom: 100px;
    height: 100vh;
}

.gallery-item {
    overflow: hidden;
    transition: all 0.5s;
}

.gallery-card {
    transition: all 0.5s;
}

.gallery-card:hover {
    transform: scale(1.02);
}


/*--- member page ---*/

.members {
    background: url('../images/members.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    padding-bottom: 50px;
}

.members-circular {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

.members-circular img {
    width: 100%;
    height: auto;
}

.members .row {
    height: 140px;
}

@media(max-width:768px) {
    .members .row {
        height: auto;
    }
}


/*--- knowledge ---*/

.knowledge-contain {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url('../images/knowledge.jpg');
    background-size: cover;
    padding-top: 150px;
    height: 100vh;
}

.knowledge-contain>.container {
    height: 100%;
    padding-bottom: 15px;
}

.knowledge-tab {
    border: 1px solid #fff;
    border-radius: 0 0 10px 10px;
    height: 70%;
    background: rgba(0, 0, 0, 0.6);
    overflow-y: scroll;
    padding: 20px;
}

.view-count-icon,
.comment-count-icon {
    margin-left: 5px;
}

@media(max-width:768px) {
    .knowledge-contain {
        height: 150vh;
    }
    .knowledge-contain>.container {
        height: 100vh;
    }
    .blog-contain,
    .news-contain,
    .gallery {
        height: auto;
    }
}


/* ---- dashboard ---*/

.dashboard.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}


/*--- Material form ---*/

fieldset {
    margin: 0 0 3rem;
    padding: 0;
    border: none;
}

.form-radio,
.form-group {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}

.form-inline>.form-group,
.form-inline>.btn {
    display: inline-block;
    margin-bottom: 0;
}

.form-help {
    margin-top: 0.125rem;
    margin-left: 0.125rem;
    color: #b3b3b3;
    font-size: 0.8rem;
}

.checkbox .form-help,
.form-radio .form-help,
.form-group .form-help {
    position: absolute;
    width: 100%;
}

.checkbox .form-help {
    position: relative;
    margin-bottom: 1rem;
}

.form-radio .form-help {
    padding-top: 0.25rem;
    margin-top: -1rem;
}

.form-group input {
    height: 1.9rem;
}

.form-group textarea {
    resize: none;
}

.form-group select {
    width: 100%;
    font-size: 1rem;
    height: 1.6rem;
    padding: 0.125rem 0.125rem 0.0625rem;
    background: none;
    border: none;
    line-height: 1.6;
    box-shadow: none;
}

.form-group .control-label {
    position: absolute;
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: normal;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
}

.form-group .bar {
    position: relative;
    border-bottom: 0.0625rem solid #999;
    display: block;
}

.form-group .bar::before {
    content: '';
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #28a745;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2;
}

.form-group input,
.form-group textarea {
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
}

.form-group input[type="file"] {
    line-height: 1;
}

.form-group input[type="file"]~.bar {
    display: none;
}

.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
    color: #333;
}

.form-group select~.control-label,
.form-group input:focus~.control-label,
.form-group input:valid~.control-label,
.form-group input.form-file~.control-label,
.form-group input.has-value~.control-label,
.form-group textarea:focus~.control-label,
.form-group textarea:valid~.control-label,
.form-group textarea.form-file~.control-label,
.form-group textarea.has-value~.control-label {
    font-size: 0.8rem;
    color: gray;
    top: -1rem;
    left: 0;
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
    outline: none;
}

.form-group select:focus~.control-label,
.form-group input:focus~.control-label,
.form-group textarea:focus~.control-label {
    color: #28a745;
}

.form-group select:focus~.bar::before,
.form-group input:focus~.bar::before,
.form-group textarea:focus~.bar::before {
    width: 100%;
    left: 0;
}

.checkbox label,
.form-radio label {
    position: relative;
    cursor: pointer;
    padding-left: 2rem;
    text-align: left;
    color: #333;
    display: block;
}

.checkbox input,
.form-radio input {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
}

.radio {
    margin-bottom: 1rem;
}

.radio .helper {
    position: absolute;
    top: -0.25rem;
    left: -0.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999;
}

.radio .helper::before,
.radio .helper::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 0.25rem;
    width: 1rem;
    height: 1rem;
    -webkit-transition: -webkit-transform 0.28s ease;
    transition: -webkit-transform 0.28s ease;
    transition: transform 0.28s ease;
    transition: transform 0.28s ease, -webkit-transform 0.28s ease;
    border-radius: 50%;
    border: 0.125rem solid currentColor;
}

.radio .helper::after {
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: #28a745;
    border-color: #28a745;
}

.radio label:hover .helper {
    color: #28a745;
}

.radio input:checked~.helper::after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

.radio input:checked~.helper::before {
    color: #28a745;
}

.checkbox {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.checkbox .helper {
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border: 0.125rem solid currentColor;
    border-radius: 0.0625rem;
    -webkit-transition: border-color 0.28s ease;
    transition: border-color 0.28s ease;
}

.checkbox .helper::before,
.checkbox .helper::after {
    position: absolute;
    height: 0;
    width: 0.2rem;
    background-color: #28a745;
    display: block;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 0.25rem;
    content: '';
    -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
    transition: opacity 0.28s ease, height 0s linear 0.28s;
    opacity: 0;
}

.checkbox .helper::before {
    top: 0.65rem;
    left: 0.38rem;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    box-shadow: 0 0 0 0.0625rem #fff;
}

.checkbox .helper::after {
    top: 0.3rem;
    left: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox label:hover .helper {
    color: #28a745;
}

.checkbox input:checked~.helper {
    color: #28a745;
}

.checkbox input:checked~.helper::after,
.checkbox input:checked~.helper::before {
    opacity: 1;
    -webkit-transition: height 0.28s ease;
    transition: height 0.28s ease;
}

.checkbox input:checked~.helper::after {
    height: 0.5rem;
}

.checkbox input:checked~.helper::before {
    height: 1.2rem;
    -webkit-transition-delay: 0.28s;
    transition-delay: 0.28s;
}

.radio+.radio,
.checkbox+.checkbox {
    margin-top: 1rem;
}

.has-error .legend.legend,
.has-error.form-group .control-label.control-label {
    color: #d9534f;
}

.has-error.form-group .form-help,
.has-error.form-group .helper,
.has-error.checkbox .form-help,
.has-error.checkbox .helper,
.has-error.radio .form-help,
.has-error.radio .helper,
.has-error.form-radio .form-help,
.has-error.form-radio .helper {
    color: #d9534f;
}

.has-error .bar::before {
    background: #d9534f;
    left: 0;
    width: 100%;
}

.button {
    position: relative;
    background: currentColor;
    border: 1px solid currentColor;
    font-size: 1.1rem;
    color: #4f93ce;
    margin: 3rem 0;
    padding: 0.75rem 3rem;
    cursor: pointer;
    -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
    transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.button span {
    color: #fff;
    position: relative;
    z-index: 1;
}

.button::before {
    content: '';
    position: absolute;
    background: #071017;
    border: 50vh solid #1d4567;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    display: block;
    top: 50%;
    left: 50%;
    z-index: 0;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}

.button:hover {
    color: #28a745;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.button:active::before,
.button:focus::before {
    -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
    transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}

.button:focus {
    outline: none;
}

body,
input,
select,
textarea,
body * {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body::after,
body::before,
input::after,
input::before,
select::after,
select::before,
textarea::after,
textarea::before,
body *::after,
body *::before {
    box-sizing: border-box;
}

.form-control:focus {
    border: none;
    box-shadow: none;
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
}

.card>.list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link+.card-link {
    margin-left: 1.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header+.list-group .list-group-item:first-child {
    border-top: 0;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-deck {
    display: flex;
    flex-direction: column;
}

.card-deck .card {
    margin-bottom: 15px;
}

@media (min-width: 576px) {
    .card-deck {
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .card-deck .card {
        display: flex;
        flex: 1 0 0%;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
    }
}

.card-group {
    display: flex;
    flex-direction: column;
}

.card-group>.card {
    margin-bottom: 15px;
}

@media (min-width: 576px) {
    .card-group {
        flex-flow: row wrap;
    }
    .card-group>.card {
        flex: 1 0 0%;
        margin-bottom: 0;
    }
    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0;
    }
    .card-group>.card:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .card-group>.card:first-child .card-img-top,
    .card-group>.card:first-child .card-header {
        border-top-right-radius: 0;
    }
    .card-group>.card:first-child .card-img-bottom,
    .card-group>.card:first-child .card-footer {
        border-bottom-right-radius: 0;
    }
    .card-group>.card:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .card-group>.card:last-child .card-img-top,
    .card-group>.card:last-child .card-header {
        border-top-left-radius: 0;
    }
    .card-group>.card:last-child .card-img-bottom,
    .card-group>.card:last-child .card-footer {
        border-bottom-left-radius: 0;
    }
    .card-group>.card:only-child {
        border-radius: 0.25rem;
    }
    .card-group>.card:only-child .card-img-top,
    .card-group>.card:only-child .card-header {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    .card-group>.card:only-child .card-img-bottom,
    .card-group>.card:only-child .card-footer {
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) {
        border-radius: 0;
    }
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-header,
    .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
        border-radius: 0;
    }
}

.card-columns .card {
    margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}

.card .card-category:not([class*="text-"]) {
    color: #999999;
}

.card .card-category {
    margin-top: 10px;
}

.card .card-category .material-icons {
    position: relative;
    top: 8px;
    line-height: 0;
}

.card .form-check {
    margin-top: 15px;
}

.card .card-title {
    margin-top: 0.625rem;
}

.card .card-title:last-child {
    margin-bottom: 0;
}

.card.no-shadow .card-header-image,
.card.no-shadow .card-header-image img {
    box-shadow: none !important;
}

.card .card-body,
.card .card-footer {
    padding: 0.9375rem 1.875rem;
}

.card .card-body+.card-footer {
    padding-top: 0rem;
    border: 0;
    border-radius: 6px;
}

.card .card-footer {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
}

.card .card-footer .author,
.card .card-footer .stats {
    display: inline-flex;
}

.card .card-footer .stats {
    color: #999999;
}

.card .card-footer .stats .material-icons {
    position: relative;
    top: 3px;
    margin-right: 3px;
    margin-left: 3px;
    font-size: 18px;
}

.card.bmd-card-raised {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

@media (min-width: 992px) {
    .card.bmd-card-flat {
        box-shadow: none;
    }
}

.card .card-header {
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
    background: linear-gradient(60deg, #eee, #bdbdbd);
}

.card .card-header .title {
    color: #fff;
}

.card .card-header:not([class*="header-"]) {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card .card-header .nav-tabs {
    padding: 0;
}

.card .card-header.card-header-image {
    position: relative;
    padding: 0;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
}

.card .card-header.card-header-image a {
    display: block;
}

.card .card-header.card-header-image img {
    width: 100%;
    border-radius: 6px;
    pointer-events: none;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card .card-header.card-header-image .card-title {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #fff;
    font-size: 1.125rem;
    text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}

.card .card-header.card-header-image .colored-shadow {
    transform: scale(0.94);
    top: 12px;
    filter: blur(12px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    transition: opacity .45s;
    opacity: 0;
}

.card .card-header.card-header-image.no-shadow {
    box-shadow: none;
}

.card .card-header.card-header-image.no-shadow.shadow-normal {
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card .card-header.card-header-image.no-shadow .colored-shadow {
    display: none !important;
}

.card .card-header-primary,
.card.bg-primary,
.card.card-rotate.bg-primary .front,
.card.card-rotate.bg-primary .back {
    background: linear-gradient(60deg, #ab47bc, #7b1fa2);
}

.card .card-header-info,
.card.bg-info,
.card.card-rotate.bg-info .front,
.card.card-rotate.bg-info .back {
    background: linear-gradient(60deg, #26c6da, #0097a7);
}

.card .card-header-success,
.card.bg-success,
.card.card-rotate.bg-success .front,
.card.card-rotate.bg-success .back {
    background: linear-gradient(60deg, #66bb6a, #388e3c);
}

.card .card-header-warning,
.card.bg-warning,
.card.card-rotate.bg-warning .front,
.card.card-rotate.bg-warning .back {
    background: linear-gradient(60deg, #ffa726, #f57c00);
}

.card .card-header-danger,
.card.bg-danger,
.card.card-rotate.bg-danger .front,
.card.card-rotate.bg-danger .back {
    background: linear-gradient(60deg, #ef5350, #d32f2f);
}

.card .card-header-rose,
.card.bg-rose,
.card.card-rotate.bg-rose .front,
.card.card-rotate.bg-rose .back {
    background: linear-gradient(60deg, #ec407a, #c2185b);
}

.card .card-header-primary {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(156, 39, 176, 0.6);
}

.card .card-header-danger {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(244, 67, 54, 0.6);
}

.card .card-header-rose {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(233, 30, 99, 0.6);
}

.card .card-header-warning {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(255, 152, 0, 0.6);
}

.card .card-header-info {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(0, 188, 212, 0.6);
}

.card .card-header-success {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(76, 175, 80, 0.6);
}

.card [class*="header-"],
.card[class*="bg-"] {
    color: #fff;
}

.card [class*="header-"] .card-title a,
.card [class*="header-"] .card-title,
.card [class*="header-"] .icon i,
.card[class*="bg-"] .card-title a,
.card[class*="bg-"] .card-title,
.card[class*="bg-"] .icon i {
    color: #fff;
}

.card [class*="header-"] .icon i,
.card[class*="bg-"] .icon i {
    border-color: rgba(255, 255, 255, 0.25);
}

.card [class*="header-"] .author a,
.card [class*="header-"] .stats,
.card [class*="header-"] .card-category,
.card [class*="header-"] .card-description,
.card[class*="bg-"] .author a,
.card[class*="bg-"] .stats,
.card[class*="bg-"] .card-category,
.card[class*="bg-"] .card-description {
    color: rgba(255, 255, 255, 0.8);
}

.card [class*="header-"] .author a:hover,
.card [class*="header-"] .author a:focus,
.card [class*="header-"] .author a:active,
.card[class*="bg-"] .author a:hover,
.card[class*="bg-"] .author a:focus,
.card[class*="bg-"] .author a:active {
    color: #fff;
}

.card .author .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
}

.card .author a {
    color: #3C4858;
    text-decoration: none;
}

.card .author a .ripple-container {
    display: none;
}

.card .card-category-social .fa {
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    margin-right: 5px;
}

.card .card-category-social .material-icons {
    position: relative;
    top: 5px;
}

.card[class*="bg-"],
.card[class*="bg-"] .card-body {
    border-radius: 6px;
}

.card[class*="bg-"] h1 small,
.card[class*="bg-"] h2 small,
.card[class*="bg-"] h3 small,
.card[class*="bg-"] .card-body h1 small,
.card[class*="bg-"] .card-body h2 small,
.card[class*="bg-"] .card-body h3 small {
    color: rgba(255, 255, 255, 0.8);
}

.card .card-stats {
    background: transparent;
    display: flex;
}

.card .card-stats .author,
.card .card-stats .stats {
    display: inline-flex;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .card {
        display: inline-block;
    }
}

.card-carousel {
    overflow: hidden;
}

.card-login .card-header {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -40px;
    padding: 20px 0;
    margin-bottom: 15px;
}

.card-login .text-divider {
    margin-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}

.card-login .card-body {
    padding: 0px 30px 0px 10px;
}

.card-login .form-check {
    padding-top: 27px;
}

.card-login .form-check label {
    margin-left: 18px;
}

.card-login .form-check .form-check-sign {
    padding-right: 27px;
}

.card-login .input-group {
    padding-bottom: 7px;
    margin: 27px 0 0 0;
}

.card-login .form {
    min-height: 420px;
}

.card-login .social-line {
    margin-top: 1rem;
    text-align: center;
    padding: 0;
}

.card-login .social-line .btn {
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

.login-page .footer {
    position: absolute;
    width: 100%;
    background: transparent;
    bottom: 0;
    color: #fff;
    z-index: 1;
}

.login-page .footer .copyright a {
    color: #fff;
}

.card-plain {
    background: transparent;
    box-shadow: none;
}

.card-plain .card-header:not(.card-avatar) {
    margin-left: 0;
    margin-right: 0;
}

.card-plain .card-body {
    padding-left: 5px;
    padding-right: 5px;
}

.card-plain .card-header-image {
    margin: 0 !important;
    border-radius: 6px;
}

.card-plain .card-header-image img {
    border-radius: 6px;
}

.card-plain .card-footer {
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
}